@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/* seletor universal utilizado para resetar todos os elemnentos*/
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    text-align: center;
    background-color: black;
    color: white;
    
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-size: 10vw;/*traz responsividade para diferentes tamanhos de tela*/
    font-variant: small-caps;
    /*todas as letras maiúsclas, porém, diferente de text-transform: uppercase;, as primeiras letras ficam maiores (mais destacadas).*/
}

header > p{
    padding-bottom:  50px;
}

header  a, footer a{
    text-decoration: none;
    color: white;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

/*[abaixo}traz responsividade para diferentes tipos de tela e prepara para inserir imagens paralaxe*/
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    /*acrescenta espaçamento duplo para facilitar a leitura entre linhas do texto da section*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    /*poderia tuilizar o background-size: cover; nessa seção, pois as duas imagens utilizam a estilização*/
}

section > p{
    padding-bottom: 2em;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    /*o 'inset' indica a sombra por dentro. Nesse caso, traz a referência de uma folha de papel por cima da imagem*/ 
}

section.imagem > p{
    display: inline-block; /*ajusta a box para o tamanho do conteúdo, liberando o restante da largura para alguma imagem inserida*/
    padding: 5px;
    
    
    /*width: 400px; 
    por padrão o width vai até o final da página. Especificando assim limita sua altura. É essencial caso seja inserida uma imagem no espaço lateral antes ocupado pelo parágrafo da section.imagem*/


    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}