@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;           
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    /*trazendo a box section telefone para o centro da tela*/

    height: 500px;
    width: 248px;    
    background: url('../imagens/frame-iphone-p.png');
   
}

#home{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 374px;
    width: 210px;
    
    /*
    position: relative;
    top: 80px;
    left: 22px;
    width: 100px;
    height: 470px;
    */
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    /*a borda passa a fazer parte do objeto, prevenindo que todos de movimentem ao passar o cursos do mouse por cima*/
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform .3s, border .2s;
    /*especifica o tempo de duração da transição do transform, ou seja, da leve movimentação e do aparecimento de uma borda no botão quando o cursor do mouse aparece em cima*/
}

/*#redes-sociais{
    background-color: transparent;
    height: 100vh;
    width: 50px;
    position: relative;
    left: 864px;
}

section > img{
    border-radius: 50px;
}*/